<%- include ('../partials/head.ejs') %>
<% if(!locals.user){ %>
<%- include ('../partials/navbar.ejs') %>
<% } %>
<% if(locals.user){ %>
<%- include ('../partials/usernav.ejs') %>
<% } %>
<main class="mt-5 pt-4">
    <div class="container wow fadeIn">

        <!-- Heading -->
        <h2 class="my-5 h2 text-center">Φόρμα Παραγγελίας</h2>
        <hr>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-8 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card content-->
                    <form class="card-body" action="/checkout" method="POST">


                        <% if(locals.user){ %>
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-6 mb-2">

                                <!--firstName-->
                                <div class="md-form ">
                                    <input type="text" id="firstName" name='name' class="form-control"
                                        value="<%- user.name %>" required>
                                    <label for="firstName" class="">Ονομα</label>
                                </div>
                                <div class="md-form ">
                                    <input type="text" id="surname" name='surname' class="form-control"
                                        value="<%- user.surname %>" required>
                                    <label for="surname" class="">Επώνυμο</label>
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Username-->
                        <div class="md-form input-group pl-0 mb-5">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">@</span>
                            </div>
                            <input type="text" class="form-control py-0" placeholder="<%- user.username %>"
                                name='username' aria-describedby="basic-addon1" value="<%- user.username %>" required>
                        </div>

                        <!--email-->
                        <div class="md-form mb-5">
                            <input type="text" id="email" class="form-control" placeholder="youremail@example.com"
                                value="<%- user.email %>" name='email' required>
                            <label for="email" class="">Email</label>
                        </div>
                        <!--address-->
                        <div class="md-form mb-5">
                            <input type="text" id="address" name='address' class="form-control"
                                placeholder="Αριθμός, Οδός" required>
                            <label for="address" class="">Διεύθυνση</label>
                        </div>

                        <!--address2-->
                        <div class="md-form mb-5">
                            <input type="text" id="address2" name='address2' class="form-control"
                                placeholder="Διεύθυνση 2" required>
                            <label for="address2" class="">Διεύθυνση 2 (προαιρετικό)</label>
                        </div>
                        <div class="md-form mb-5">
                            <input type="text" id="citystate" name='citystate' class="form-control"
                                placeholder="Νομός, Πόλη">
                            <label for="citystate" class="">Νομός, Πόλη</label>
                        </div>
                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-4">

                                <label for="country">Country</label>
                                <select class="custom-select d-block w-100" id="country" required>
                                    <option value="">Choose...</option>
                                    <option>Ελλάδα</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid country.
                                </div>

                            </div>
                            <!--Grid column-->

                            <!--Grid column-->


                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4">

                                <label for="zip">Zip</label>
                                <input type="text" class="form-control" id="zip" placeholder="" name='zip' required>
                                <div class="invalid-feedback">
                                    ΤΚ (Υποχρεωτικό).
                                </div>

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!-- <hr> -->

                        <!-- <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="same-address">
                            <label class="custom-control-label" for="same-address">Shipping address is the same as my
                                billing address</label>
                        </div> -->


                        <hr>

                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input"
                                    checked required>
                                <label class="custom-control-label" for="credit">Πιστωτική Κάρτα</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input"
                                    required>
                                <label class="custom-control-label" for="debit">Χρεωστική Κάρτα</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cc-name">Όνομα Κάρτας</label>
                                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                                <small class="text-muted">Ολόκληρο το Όνομα που αναγράφεται στην κάρτα</small>
                                <div class="invalid-feedback">
                                    Υποχρεωτικό
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cc-number">Αριθμός Κάρτας</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                <div class="invalid-feedback">
                                    Υποχρεωτικό
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">Ημερομηνία Λήξης</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                <div class="invalid-feedback">
                                    Υποχρεωτικό
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">CVV</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                <div class="invalid-feedback">
                                    Υποχρεωτικό
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Αγορα</button>
                        <%}%>
                        <% if(!locals.user){ %>
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-6 mb-2">

                                <!--firstName-->
                                <div class="md-form ">
                                    <input type="text" id="firstName" name="name" class="form-control"
                                        placholder="Όνομα" required>
                                    <label for="firstName" class="">Όνομα</label>

                                </div>
                                <div class="md-form ">
                                    <input type="text" id="surname" name='surname' class="form-control"
                                        placholder="Επώνυμο" required>
                                    <label for="firstName" class="">Επώνυμο</label>

                                </div>

                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->


                        <!--email-->
                        <div class="md-form mb-5">
                            <input type="text" id="email" name='email' class="form-control"
                                placeholder="youremail@example.com" required>
                            <label for="email" class="">Email</label>
                        </div>
                        <!--address-->
                        <div class="md-form mb-5">
                            <input type="text" id="address" name='address' class="form-control"
                                placeholder="Αριθμός, Οδός" required>
                            <label for="address" class="">Διεύθυνση</label>
                        </div>

                        <!--address2-->
                        <div class="md-form mb-5">
                            <input type="text" id="address2" name='address2' class="form-control"
                                placeholder="Διεύθυνση 2" required>
                            <label for="address2" class="">Διεύθυνση 2 (προαιρετικό)</label>
                        </div>
                        <div class="md-form mb-5">
                            <input type="text" id="citystate" name='citystate' class="form-control"
                                placeholder="Νομός, Πόλη">
                            <label for="citystate" class="">Νομός, Πόλη</label>
                        </div>
                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-4">

                                <label for="country">Country</label>
                                <select class="custom-select d-block w-100" id="country" name='country' required>
                                    <option value="">Choose...</option>
                                    <option>Ελλάδα</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid country.
                                </div>

                            </div>
                            <!--Grid column-->

                            <!--Grid column-->


                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4">

                                <label for="zip">Zip</label>
                                <input type="text" class="form-control" id="zip" placeholder="" name='zip' required>
                                <div class="invalid-feedback">
                                    ΤΚ (Υποχρεωτικό).
                                </div>

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->




                        <hr>

                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input"
                                    checked required>
                                <label class="custom-control-label" for="credit">Πιστωτική Κάρτα</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input"
                                    required>
                                <label class="custom-control-label" for="debit">Χρεωστική Κάρτα</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cc-name">Όνομα Κάρτας</label>
                                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                                <small class="text-muted">Ολόκληρο το Όνομα που αναγράφεται στην κάρτα</small>
                                <div class="invalid-feedback">
                                    Υποχρεωτικό
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cc-number">Αριθμός Κάρτας</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                <div class="invalid-feedback">
                                    Υποχρεωτικό
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">Ημερομηνία Λήξης</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                <div class="invalid-feedback">
                                    Υποχρεωτικό
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">CVV</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                <div class="invalid-feedback">
                                    Υποχρεωτικό
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Αγορα</button>
                        <%}%>
                        

                    </form>

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Heading -->
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    <span class="badge badge-secondary badge-pill">3</span>
                </h4>

                <!-- Cart -->
                <ul class="list-group mb-3 z-depth-1">
                    <% products.forEach(function(o) { %>
                        <%if(locals.cart.items[o._id]){%>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0"><%- o.title.substring(0, 20)+'...' %></h6>

                                <small class="text-muted"><%- o.brand %></small>
                            </div>
                            <h7 class="text-muted"><i class="fas fa-times"></i> <%= locals.cart.items[o._id].qty %></h7>
                            <span class="text-muted"><%= locals.cart.totalPrice.toFixed(2) %> <i class="fas fa-euro-sign"></i></span>
                        </li>
                        <%}%>
                <%});%>


                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <div class="text-success">
                                <h6 class="my-0">Μεταφορικά</h6>
                                <small>Πάγια τιμή</small>
                            </div>
                            <span class="text-success">4 <i class="fas fa-euro-sign"></i></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Συνολο (EUR)</span>
                            <strong><%= (locals.cart.totalPrice+4).toFixed(2) %> <i class="fas fa-euro-sign"></i></strong>
                        </li>
                        </ul>
                        <!-- Cart -->

                        <!-- Promo code -->
                        <!-- <form class="card p-2">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Promo code"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary btn-md waves-effect m-0"
                                        type="button">Redeem</button>
                                </div>
                            </div>
                        </form> -->
                        <!-- Promo code -->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
</main>

<%- include ('../partials/footer.ejs') %>
<%- include ('../partials/rest-body.ejs') %>