<%- include ('../partials/head.ejs') %>
<% if(!locals.user){ %>
<%- include ('../partials/navbar.ejs') %>
<% } %>
<% if(locals.user){ %>
<%- include ('../partials/usernav.ejs') %>
<% } %>
<div class="container w-100 mt-6 mb-6">
    <div class="row d-flex justify-content-center">
        <h2>Συχνές Ερωτήσεις Delivery.gr</h2>
        <hr>
        <header>

            <!-- Background image -->
            <div class="row">
                <image class="p-5"
                    src='https://d3hz4baxchepgp.cloudfront.net/site/binaries/_ht_1618488198156/lg/content/gallery/image-components/alfa-beta-greece-el/home-delivery-patra/1376x300d.png' />
            </div>
            <!-- Background image -->
        </header>
    </div>
    <div class="row">
        <p>Με το Delivery.gr ανοίγει μια νέα συνεργασία με στόχο να εξυπηρετηθούν πελάτες με μικρότερο καλάθι πιο άμεσα
            με παράδοση την ίδια ημέρα. Μέσα από αυτή τη συνεργασία θα μπορείτε να επιλέξετε ανάμεσα σε περισσότερα από
            3.500 προϊόντα από την ποικιλία μας και να τα έχετε στην πόρτα του σπιτιού σας σε 2 ώρες σε Αθήνα,
            Θεσσαλονίκη και Πάτρα!</p>
        <p><strong><u>ΧΡΗΣΗ ΥΠΗΡΕΣΙΑΣ</u></strong></p>
        <p><strong>ΔΗΜΙΟΥΡΓΙΑ ΛΟΓΑΡΙΑΣΜΟΥ</strong></p>
        <ul>
            <li><strong>Πώς μπορώ να δημιουργήσω λογαριασμό στο delivery.gr;</strong></li>
            <li>
                <p>Εύκολα και γρήγορα. Από τον υπολογιστή ή το smartphone/tablet σας, αφού ανοίξετε το Delivery.gr μέσω
                    browser, επιλέξτε επάνω δεξιά «Είσοδος» (σε κινητό το σύμβολο της εισόδου) και στην συνέχεια
                    «Εγγραφή». Συμπληρώστε τα στοιχεία σας, επιλέξτε «Επόμενο» και τέλος εισάγετε τον 4ψήφιο αριθμητικό
                    κωδικό που λάβατε στο κινητό σας. Η εγγραφή σας ολοκληρώθηκε.</p>
            </li>
        </ul>
        <p><strong>ΠΑΡΑΓΓΕΛΙΑ ΠΑΡΑΔΟΣΗ</strong></p>
        <ul>
            <li><strong>Ποιες είναι οι ημέρες και ώρες παράδοσης;</strong></li>
            <li>
                <p>Το ωράριο παραδόσεων είναι Δευτέρα έως Παρασκευή 12:00-21:00 και Σάββατο 11:00-20:00.
                </p>
            </li>
            <li><strong>Μέχρι ποια ώρα μπορώ να παραγγείλω για να παραλάβω αυθημερόν; </strong></li>
            <li>
                <p>Μπορείτε να παραγγείλετε για αυθημερόν παράδοση Δευτέρα έως Παρασκευή 7:00-19:00 και Σάββατο
                    7:00-18:00.</p>
            </li>
            <li><strong>Ποιο είναι το ποσό minimum παραγγελίας; Ποιο είναι το ποσό maximum παραγγελίας;</strong></li>
            <li>
                <p>Το minimum ποσό παραγγελίας είναι 25€ (κόστος ειδών χωρίς τη χρέωση για την παράδοση) και το maximum
                    ποσό παραγγελίας είναι 100€ (κόστος ειδών χωρίς τη χρέωση για την παράδοση).</p>
            </li>
            <li><strong>Υπάρχει χρέωση για την παράδοση της παραγγελίας; </strong></li>
            <li>
                <p>Η χρέωση για την παράδοση της παραγγελίας είναι 1,85 € (περιλαμβάνει και 24% ΦΠΑ).</p>
            </li>
            <li><strong>Πώς μπορώ να πληρώσω την παραγγελία μου;</strong></li>
            <li>
                <p>Η πληρωμή γίνεται με online payment.</p>
            </li>
            <li><strong>Μπορείτε να μου εκδώσετε τιμολόγιο;</strong></li>
            <li>
                <p>Δεν υπάρχει η δυνατότητα έκδοσης τιμολογίου μέσω του Delivery.gr</p>
            </li>
            <li><strong>Μπορώ να τροποποιήσω την παραγγελία μου;</strong></li>
            <li>
                <p>Δεν υπάρχει δυνατότητα τροποποίησης παραγγελίας εφόσον έχει γίνει ηλεκτρονική πληρωμή, ωστόσο για
                    έκτακτα θέματα που αφορούν τα προϊόντα της παραγγελίας σας, παρακαλούμε επικοινωνήστε άμεσα με το
                    τηλεφωνικό κέντρο του Delivery.gr: στο 801-2222-323 από σταθερό και στο 210-8733333 από κινητό,
                    Δευτέρα έως Παρασκευή 08:00 - 21:30 και Σάββατο 08:00 - 20:30.</p>
            </li>
            <li><strong>Μπορώ να ακυρώσω την παραγγελία μου;</strong></li>
            <li>
                <p>Μπορείτε να ακυρώσετε την παραγγελία σας τηλεφωνικά, σε διάστημα έως 30 λεπτών από την υποβολή της,
                    επικοινωνώντας με το τηλεφωνικό κέντρο του Delivery.gr 801-2222-323 (από σταθερό) και 210-8733333
                    (από κινητό), Δευτέρα έως Παρασκευή 08:00 - 21:30 και Σάββατο 08:00 - 20:30.</p>
            </li>
            <li><strong>Μπορώ να αλλάξω διεύθυνση παράδοσης για την παραγγελία που μόλις υπέβαλα;</strong></li>
            <li>
                <p>Μετά την καταχώρηση της παραγγελίας δεν υπάρχει η δυνατότητα αλλαγής διεύθυνσης παράδοσης.
                    Παρακαλούμε επικοινωνήστε με το τηλεφωνικό κέντρο του Delivery.gr 801-2222-323 (από σταθερό) και
                    210-8733333 (Δευτέρα έως Παρασκευή 08:00 - 21:30 και Σάββατο 08:00 - 20:30), προκειμένου να ακυρωθεί
                    η παραγγελία σας και έπειτα να την καταχωρήσετε εκ νέου στη νέα διεύθυνση παράδοσης, εφόσον η νέα
                    διεύθυνση είναι εντός των ορίων διανομής μας.</p>
            </li>

        </ul>
        <p><strong>ΠΟΝΤΟΔΟΣΙΑ ΚΑΙ ΕΞΑΡΓΥΡΩΣΕΙΣ</strong></p>
        <ul>
            <li><strong>Μπορώ να καταχωρήσω την ΑΒ Plus κάρτα μου; </strong></li>
            <li>Το πρόγραμμα πιστότητας AB Plus δεν υποστηρίζεται στη συγκεκριμένη ενέργεια.</li>
            <li><strong>Μπορώ να εξαργυρώσω επιταγή έκπτωσης ΑΒ Plus; </strong></li>
            <li>Δεν υπάρχει δυνατότητα να εξαργυρώσετε δωροεπιταγές, κουπόνια, ticket restaurant κλπ μέσω του
                delivery.gr.</li>
        </ul>
        <p><strong>ΤΙΜΕΣ ΚΑΙ ΠΡΟΪΟΝΤΑ</strong></p>
        <ul>
            <li><strong>Είχα επιλέξει άλλο προϊόν και άλλο παρέλαβα. Επιθυμώ αντικατάσταση. </strong></li>
            <li>Είχα επιλέξει άλλο προϊόν και άλλο παρέλαβα. Επιθυμώ αντικατάσταση. </li>
            <li><strong>Πώς μεταφέρονται τα προϊόντα ψυγείου/κατάψυξης; </strong></li>
            <li>Όταν συλλεχθεί η παραγγελία σας, τα προϊόντα ψυγείου/κατάψυξης τοποθετούνται σε ισοθερμικό εξοπλισμό
                ώστε να μην διαταραχτεί η αλυσίδα ψύξης και να είναι απολύτως ασφαλή.</li>
            <li><strong>Οι τιμές που αναφέρονται στο site είναι ίδιες με το κατάστημα ΑΒ;</strong></li>
            <li>Δεν υπάρχει καμία διαφοροποίηση των τιμών του site με το κατάστημα ΑΒ.</li>
            <li><strong>Υπάρχουν όλα τα προϊόντα όπως στο κατάστημα ΑΒ; </strong></li>
            <li>Στο Delivery.gr μπορείτε να επιλέξετε από μια ποικιλία άνω των 3.500 προϊόντων.</li>
            <li><strong>Μπορώ να υποβάλω παραγγελία για χύμα προϊόντα;</strong></li>
            <li>Δυστυχώς δεν υπάρχει η δυνατότητα παραγγελίας χύμα προϊόντων.</li>

        </ul>
    </div>
</div>
<%- include ('../partials/footer.ejs') %>
<%- include ('../partials/rest-body.ejs') %>