<%- include ('../partials/head.ejs') %>
<% if(!locals.user){ %>
<%- include ('../partials/navbar.ejs') %>
<% } %>
<% if(locals.user){ %>
<%- include ('../partials/usernav.ejs') %>
<% } %>
<div class="container w-100 mt-6 mb-6">
    <div class="text-center">
        <br>
        <h3><b> CRETAN FRANCHISE: ΕΠΙΧΕΙΡΗΣΕ ΤΟ! </b></h3>
    </div>
    <br>
    <p class="text-start">
        <b>Η Cretan</b>, ένα μικρό μπακάλικο στην οδό Βουλής 29 το 1939, μετρά σήμερα πάνω από 500 καταστήματα που
        βρίσκονται σε όλες τις γωνιές της Ελλάδας και αποτελούν μια μεγάλη «αγορά» για κάθε γειτονιά. Διαθέτουν μια πολύ
        μεγάλη ποικιλία προϊόντων με όλα όσα χρειάζεται, αλλά και όσα επιθυμεί κανείς για να γεμίσει το ψυγείο του και
        να στρώσει το τραπέζι του, με προϊόντα άριστης ποιότητας από την Ελλάδα και τον κόσμο.</p>
    <br>
    Το δίκτυο καταστημάτων Cretan μεγαλώνει και διευρύνεται συνεχώς, εξελίσσεται και προσαρμόζεται, ενσωματώνοντας όλες
    τις σύγχρονες τάσεις με σκοπό μια μοναδική αγοραστική εμπειρία για τους πελάτες του. Στηρίζοντας στην πράξη τους
    νέους επιχειρηματίες της χώρας μας, η Cretan Supermarket θέτει στέρεα θεμέλια για το ξεκίνημα μιας νέας
    επιχειρηματικής διαδρομής και δυναμικά κίνητρα στο επιχειρείν.
    <br><br>
    Με <b>δύο καινοτόμα επιχειρηματικά μοντέλα</b> με κύριο σκοπό να προσφέρουν τη μοναδική αγοραστική εμπειρία Cretan
    σε κάθε γειτονιά στην πόλη, αλλά και στην περιφέρεια, μαζί με μια νέα επιχειρηματική αρχή για επαγγελματίες του
    κλάδου και νέους επενδυτές.
    <br><br>
    Η Cretan στηρίζει κάθε υποψήφιο συνεργάτη. Για το άνοιγμα κάθε νέου Cretan Supermarket στον αστικό ιστό, η Cretan
    επενδύει στη διαμόρφωση του χώρου, δαπάνη αξίας έως 60.000€ και σε εξοπλισμό αξίας 100.000€. Για την περιφέρεια,
    κάθε νέο <b>Cretan Food Market</b> υποστηρίζεται με εξοπλισμό αξίας μέχρι και 250.000€. Η αποπληρωμή της αρχικής
    επένδυσης από τον νέο Συνεργάτη γίνεται με πολύ ευνοϊκούς όρους, άτοκα σε 120 μηνιαίες ισόποσες δόσεις.
    <br><br>
    Ταυτόχρονα, η εξειδικευμένη ομάδα της αλυσίδας στέκεται στο πλευρό κάθε νέου συνεργάτη, από την αρχή της λειτουργίας
    του καταστήματος και σε κάθε στάδιο εξέλιξής της συνεργασίας.
    <br><br>
    Σήμερα, σε όλη την Ελλάδα υπάρχουν 142 καταστήματα <b>Cretan Franchise</b> από τα οποία 82 είναι Cretan Food Market
    και 60 Cretan Supermarket.
    <br><br>
    Αν σε ενδιαφέρει να γίνεις κι εσύ μέλος της οικογένειας Cretan, επικοινώνησε μαζί μας.
    <br><br>

    <h6>Στοιχεία επικοινωνίας:</h6>
    e-mail: katerina00988@gmail.com <br>
    τηλ:281-0315602 <br>
    fax:281-0000000 <br><br><br>
</div>
<%- include ('../partials/footer.ejs') %>
<%- include ('../partials/rest-body.ejs') %>