<%- include ('../partials/head.ejs') %>
<% if(!locals.user){ %>
<%- include ('../partials/navbar.ejs') %>
<% } %>
<% if(locals.user){ %>
<%- include ('../partials/usernav.ejs') %>
<% } %>
<div class="container w-100 mt-6 mb-6">
    <div class="text-center">
        <br>
        <h3><b>ΠΟΛΙΤΙΚΗ ΑΠΟΡΡΗΤΟΥ ΚΑΙ ΠΡΟΣΩΠΙΚΑ ΔΕΔΟΜΕΝΑ</b></h3>
    </div>
    <br>
    <p class="text-start">
        <b><u>1.ΣΚΟΠΟΣ</u></b><br><br>
        Η εταιρεία «Cretan Supermarket» ΜΟΝΟΠΡΟΣΩΠΗ ΑΝΩΝΥΜH ΕΤΑΙΡΙΑ (εφεξής η Cretan) μέλος του Ομίλου Ahold Delhaize
        αναγνωρίζει τη σημασία του θέματος της ασφάλειας των προσωπικών δεδομένων καθώς και των ηλεκτρονικών συναλλαγών.
        Η Cretan θεωρεί υψίστης σημασίας σκοπό την προστασία και διαφύλαξη αυτών λαμβάνοντας όλα τα απαραίτητα τεχνικά
        μέτρα και τηρώντας την ισχύουσα νομοθεσία.
        Η εμπιστοσύνη των πελατών, των συνεργατών και των προμηθευτών είναι ιδιαίτερης σημασίας για την Cretan. Για να
        διατηρήσουμε την εμπιστοσύνη αυτή θα πρέπει να επεξεργαζόμαστε τα προσωπικά δεδομένα με τρόπο ασφαλή και σύμφωνα
        με την ισχύουσα νομοθεσία.
        Σκοπός της παρούσας πολιτικής είναι η ενημέρωση των υποκειμένων σχετικά με τα δεδομένα που συλλέγονται για την
        εξυπηρέτηση των ιδίων, την ενημέρωση αυτών για προσφορές και νέες υπηρεσίες. Μέσω της παρούσας πολιτικής τα
        υποκείμενα των δεδομένων μπορούν να ενημερώνονται για τα δικαιώματά τους σύμφωνα με την ισχύουσα νομοθεσία.
        Στο πλαίσιο της παρούσας πολιτικής:
        «Προσωπικά Δεδομένα» είναι κάθε πληροφορία μέσω της οποίας είναι ταυτοποιήσιμο ή μπορεί να ταυτοποιηθεί ένα
        φυσικό πρόσωπο.
        «Επεξεργασία Προσωπικών Δεδομένων» είναι κάθε ενέργεια που γίνεται με χρήση των προσωπικών δεδομένων όπως η
        συλλογή, αποθήκευση, χρήση αυτών, γνωστοποίηση σε τρίτους συνεργάτες, που αναλαμβάνουν τη διαχείριση προσωπικών
        δεδομένων στο όνομα και για λογαριασμό της Cretan για την επίτευξη συγκεκριμένου κάθε φορά επιχειρησιακού
        σκοπού.</p>
    <br>
    <b><u>2.ΒΑΣΙΚΕΣ ΑΡΧΕΣ ΠΡΟΣΤΑΣΙΑΣ ΠΡΟΣΩΠΙΚΩΝ ΔΕΔΟΜΕΝΩΝ</u></b><br><br>
    Η Cretan αναγνωρίζει ότι η ύπαρξη σαφών κατευθυντηρίων γραμμών για τη σωστή χρήση των προσωπικών δεδομένων είναι
    αναπόσπαστο μέρος της ορθής λειτουργίας της εταιρείας και είναι απολύτως απαραίτητο για τη διασφάλιση των προσωπικών
    δεδομένων που διαχειριζόμαστε και μπορεί να αφορούν πελάτες, συνεργάτες και προμηθευτές. Για το λόγο αυτό η Cretan:
    <br>
    <ul>
        <li>δεσμεύεται ως προς την προστασία των δεδομένων των πελατών, συνεργατών και προμηθευτών,</li>
        <li>διαχειρίζεται μόνο εκείνα τα δεδομένα που είναι απαραίτητα για νόμιμους επιχειρηματικούς σκοπούς,</li>
        <li>παρέχει προς τους πελάτες της ενημέρωση για τη χρήση των δεδομένων τους και τον τρόπο άσκησης των
            δικαιωμάτων τους</li>
        <li>χρησιμοποιεί τα προσωπικά δεδομένα προς όφελος των πελατών της</li>
        <li>συμμερφώνεται με τις ισχύουσε κανονιστικές και νομοθετικές ρυθμίσεις.</li>
    </ul>
    <br>
    Με βάση αυτές τις αρχές ως προς την ασφάλεια των προσωπικών δεδομένων ισχύουν τα ακόλουθα:
    <br><br>
    <b><u>Συλλογή και επεξεργασία</u></b><br><br>
    Η Cretan συλλέγει και επεξεργάζεται προσωπικά δεδομένα με νόμιμο τρόπο και σύμφωνα με την ισχύουσα νομοθεσία. Τα
    προσωπικά δεδομένα που συλλέγονται και επεξεργάζονται είναι τα απολύτως απαραίτητα για τον επιδιωκόμενο κάθε φορά
    σκοπό και υπάρχει σαφής ενημέρωση των υποκειμένων τόσο ως προς το σκοπό συλλογής και επεξεργασίας των δεδομένων τους
    όσο και ως προς τα δικαιώματά τους.
    <br><br>
    <b><u>ΠΑΡΑΔΟΣΗ ΠΡΟΪΟΝΤΩΝ</u></b><br><br>
    Η παράδοση των προϊόντων γίνεται με μέριμνα της Cretan στη διεύθυνση που έχει δηλωθεί από το χρήστη. Δεν υπάρχει
    κάποια επιπλέον χρέωση για την υπηρεσία παράδοσης των προϊόντων. Η Cretan διατηρεί το δικαίωμα να τροποποιήσει
    τον παρόντα όρο και να προβεί στη χρέωση της υπηρεσίας παράδοσης των προϊόντων. Σε αυτή την περίπτωση η χρήση
    της υπηρεσίας μεταφοράς θα γίνεται μετά την ενημέρωση του καταναλωτή για το κόστος αυτής.
    <br><br>
    <b><u>Ενημέρωση</u></b><br><br>
    Η Cretan έχει δημιουργήσει διάφορα κανάλια ενημέρωσης των υποκειμένων των προσωπικών δεδομένων, με στόχο να παρέχει
    πάντοτε σαφή και πλήρη ενημέρωση προς τα υποκείμενα για το σκοπό επεξεργασίας των προσωπικών τους δεδομένων. Μέσω
    αυτών των καναλιών ενημέρωσης, τα υποκείμενα των δεδομένων λαμβάνουν σαφής πληροφορίες, πέρα από το σκοπό της
    επεξεργασίας, και για τυχόν τρίτους αποδέκτες των δεδομένων τους, οι οποίοι στο πλαίσιο εξυπηρέτησης του
    επιδιωκόμενου σκοπού ενεργούν στο όνομα και για λογαριασμό της Cretan. Οι πελάτες μπορούν να έχουν πρόσβαση στην
    σχετική ενημέρωση μέσω του site της Cretan
    <br><br>
    <b><u>Χρήση και περίοδος διατήρησης δεδομένων</u></b><br><br>
    Η Cretan χρησιμποιείει τα δεδομένα των υποκειμένων αποκλειστικά και μόνο για σκοπούς που σχετίζονται με τις
    επιχειρηματικές της δραστηριότητες και σύμφωνα με τις αξίες του Ομίλου AHOLD – DLHAIZE. Σε κάθε περίπτωση η χρήση
    των δεδομένων περιορίζεται αποκλειστικά και μόνο στο σκοπό για τον οποίο έχουν συλλεχθεί. Η Cretan μπορεί να κάνει
    χρήση των δεδομένων σας για την ενημέρωσή σας για προσφορές, για νέα προϊόντα, για νέες υπηρεσίες και κάθε τι άλλο
    που σχετίζεται με την λειτουργία και οργάνωση της εταιρείας μας
    Ο χρόνος διατήρησης των δεδομένων καθορίζεται λαμβάνοντας υπόψη τον σκοπό για τον οποίο έχουν συλλεγεί και την
    ισχύουσα νομοθεσία. Η ΑΒ δεν διατηρεί δεδομένα για μεγαλύτερο χρονικό διάστημα από αυτό που απαιτείται είτε βάσει
    της συναλλακτικής σχέσης, που συνδέει το υποκείμενο των δεδομένων με την Cretan, είτε βάσει της ισχύουσας
    νομοθεσίας.
    <br><br>
    <b><u>Μέτρα ασφάλειας</u></b><br><br>
    Η Cretan έχει λάβει όλα τα πρόσφορα εκείνα τεχνικά μέτρα για τη διασφάλιση των προσωπικών σας δεδομένων. Παρέχει
    περιορισμένη πρόσβαση μόνο σε εκείνους από τους υπαλλήλους / συνεργάτες της είναι απαραίτητο να έχουν πρόσβαση στα
    δεδομένα. Λαμβάνει όλα τα απαραίτητα μέτρα για την αποφυγή κάθε μη εξουσιοδοτημένης πρόσβασης, χρήσης ή τροποποίησης
    των δεδομένων αυτών. Τηρεί την ισχύουσα νομοθεσία και έχει θέσει διαδικασίες για την προστασία των δεδομένων.
    <br><br>
    <b><u>Πρόσβαση στα δεδομένα</u></b><br><br>
    Πρόσβαση στα δεδομένα έχουν μόνο εντεταλμένοι υπάλληλοι της Cretan. Η Cretan συνεργάζεται με τρίτες εταιρείες για
    σκοπούς επικοινωνίας, διαφήμισης, ενημέρωσης στις οποίες αν και εφόσον απαιτείτια γνωστοποιούνται προσωπικά
    δεδομένα. Η Cretan διασφαλίζει ότι από τις εταιρείες αυτές έχουν ληφθεί όλα τα απαραίτητα οργανωτικά και τεχνικά
    μέσα για την προστασία των δεδομένων και ότι έχουν ενημερώσει και δεσμεύσει τους υπαλλήλους τους ως προς τον
    εμπιστευτικό χαρακτήρα των δεδομένων αυτών..
</div>
<br><br>
</div>
<%- include ('../partials/footer.ejs') %>
<%- include ('../partials/rest-body.ejs') %>