<%- include ('../partials/head.ejs') %>
<% if(!locals.user){ %>
<%- include ('../partials/navbar.ejs') %>
<% } %>
<% if(locals.user){ %>
<%- include ('../partials/usernav.ejs') %>
<% } %>
<div class="container w-100 mt-6 mb-6">
    <div class="text-center">
        <br>
        <h3><b>ΟΡΟΙ ΚΑΙ ΠΡΟΫΠΟΘΕΣΕΙΣ ΧΡΗΣΗΣ CRETAN ESHOP</b></h3>
    </div>
    <br>
    <p class="text-start">
        <b><u>ΓΕΝΙΚΑ</u></b><br><br>
        Η Cretan Eshop είναι το επίσημο ηλεκτρονικό κατάστημα διάθεσης προς πώληση προϊόντων μέσω του διαδικτύου που
        δημιούργησε η ανώνυμη εταιρεία με την επωνυμία
        «Cretan Supermarket» CRETAN ΜΟΝΟΠΡΟΣΩΠΗ ΑΝΩΝΥΜH ΕΤΑΙΡΙΑ , που εδρεύει στο Γέρακα Αττικής (Λ.Σπάτων 81) και
        εκπροσωπείται νόμιμα (εφεξής Cretan).
        Η λειτουργία του eshop διέπεται από τους παρόντες ειδικούς όρους καθώς και από τους γενικούς όρους χρήσης του
        www.cretansupermarket.gr, σε περίπτωση σύγκρουσης οι ειδικότεροι όροι υπερισχύουν των γενικών όρων.
        Οι χρήστες καλούνται να διαβάσουν προσεκτικά και να συμμορφώνονται με τους όρους χρήσης του eshop. Το Cretan
        θεωρεί ότι οι χρήστες πριν από την επίσκεψη στο eshop έχουν λάβει γνώση των παρόντων όρων,<br><br>
        όπως αυτοί κάθε φορά ισχύουν και τους έχουν αποδεχτεί ανεπιφύλακτα. Η χρήση του eshop συνεπάγεται ανεπιφύλακτη
        αποδοχή των Όρων, εάν κάποιος χρήστης δεν συμφωνεί εν μέρει ή στο σύνολο με τους παρόντες
        όρους δεν θα πρέπει να κάνει χρήση του eshop. Σε κάθε περίπτωση πριν από την ολοκλήρωση μίας παραγγελίας πρέπει
        να έχει προηγηθεί η αποδοχή των όρων άλλως δεν υπάρχει δυνατότητα αποστολής της παραγγελίας.</p>
    <br>
    <b><u>ΧΡΗΣΗ ΗΛΕΚΤΡΟΝΙΚΟΥ ΚΑΤΑΣΤΗΜΑΤΟΣ</u></b><br><br>
    Χρήση του eshop μπορεί να κάνει κάθε φυσικό πρόσωπο που είναι ικανό προς δικαιοπραξία και έχει συμπληρώσει το 18ο
    έτος της ηλικίας του.
    Για να κάνει κάποιος χρήση του eshop θα πρέπει να έχει ή να δημιουργήσει ένα προσωπικό λογαριασμό (web account),
    βάσει των όρων και προϋποθέσεων που
    περιέχονται στους όρους και προϋποθέσεις του www.cretansupermarket.gr. Διευκρινίζεται ότι αρχικά ακόμα και αν
    κάποιος δεν έχει προσωπικό λογαριασμό μπορεί να περιηγηθεί στο ηλεκτρονικό κατάστημα, αλλά με το που αρχίζει να
    επιλέγει
    προϊόντα και να δημιουργεί την παραγγελία του θα του ζητηθεί να δημιουργήσει προσωπικό λογαριασμό.
    Κατά την έναρξη χρήσης του ηλεκτρονικού καταστήματος θα ζητηθεί από τον χρήστη η συμπλήρωση του ταχυδρομικού κώδικα
    (ΤΚ) της περιοχής όπου θα γίνει η παράδοση, προκειμένου να ελεγχθεί αν η συγκεκριμένη διεύθυνση εξυπηρετείται
    από κατάστημα της Cretan.<br><br>
    Σε περίπτωση που δεν εξυπηρετείται θα ενημερωθεί αυτόματα από το σύστημα πριν από τη δημιουργία της παραγγελίας. Τα
    καταστήματα και οι περιοχές εξυπηρέτησης ορίζονται από την Cretan κατά την απόλυτη διακριτική της ευχέρεια ως εκ
    τούτου
    ενδέχεται κάποια περιοχή να μην εξυπηρετείται από κατάστημα Cretan.
    Σε κάθε περίπτωση πριν την ολοκλήρωση κάθε παραγγελίας ο χρήστης θα πρέπει να εισάγει τη διεύθυνση αποστολής των
    προϊόντων.
    Ο κάθε χρήστης είναι αποκλειστικά υπεύθυνος για τα στοιχεία τα οποία δηλώνει, τα οποία πρέπει να είναι αληθή και
    ακριβή. Η Cretan σε περίπτωση που διαπιστώσει ότι δεν έχουν δηλωθεί τα αληθινά στοιχεία μπορεί να ακυρώσει την
    εγγραφή του συγκεκριμένου χρήστη.
    <br><br>
    <b><u>ΠΡΟΪΟΝΤΑ/ΤΙΜΕΣ</u></b><br><br>
    Η Cretan δεσμεύεται ως προς την ποιότητα, την πληρότητα και την εγκυρότητα των πληροφοριών που παρατίθενται, τόσο
    όσον αφορά την ταυτότητα του eshop όσο και των παρεχόμενων από αυτό προϊόντων. Πιο συγκεκριμένα, η Cretan ως πωλητής
    των συγκεκριμένων προϊόντων έχει όλα τα εκ
    του νόμου δικαιώματα και υποχρεώσεις, παρόλα αυτά έναντι του τελικού καταναλωτή την ευθύνη για ελαττωματικά προϊόντα
    ή/και πληροφορίες που αφορούν εμπορεύματα και είναι αναγεγραμμένες επί των συσκευασιών αυτών φέρει και ο παραγωγός/
    προμηθευτής των προϊόντων. Η Cretan στο
    μέτρο της δικής της ευθύνης τηρεί πιστά τις προδιαγραφές σωστής αποθήκευσης, συντήρησης και μεταφοράς μέχρι των
    τελικό αποδέκτη.
    Η Cretan προσπαθεί μέσω του ηλεκτρονικού της καταστήματος να παρέχει μεγάλη ποικιλία προϊόντων προς τον καταναλωτή
    αντίστοιχη με αυτή που υπάρχει σε κάθε κατάστημά της. Παρόλα αυτά ενδέχεται ο χρήστης να μην μπορεί να βρει κάποια
    προϊόντα ή κάποια κατηγορία προϊόντων και αυτό οφείλεται
    είτε στην εμπορική πολιτική της εταιρείας είτε στο στήσιμο του ηλεκτρονικού της καταστήματος.<br><br>
    Τα προϊόντα προβάλλονται στον καταναλωτή μέσω φωτογραφιών στις οποίες ο χρήστης μπορεί να κάνει zoom για να
    ενημερωθεί για να λάβει όλες τις απαιτούμενες πληροφορίες σχετικά με το προϊόν, οι οποίες πρέπει να αναφέρονται επί
    της συσκευασίας βάσει της εκάστοτε ισχύουσας νομοθεσίας. Διευκρινίζεται
    ότι οι εικόνες επικαιροποιούνται σε τακτά χρονικά διαστήματα, πλην όμως πληροφορίες που απεικονίζουν την ημερομηνία
    παρασκευής/συσκευασίας, λήξης ή πληροφορίες που απεικονίζουν διάφορες τιμές μέτρησης /κόστους ή ενδείξεις που
    μεταβάλλονται είναι αυτές που ίσχυαν κατά το χρόνο λήψη της εικόνας και
    ενδέχεται να έχουν διαφοροποιηθεί..
    Η Cretan εγγυάται ότι τα προϊόντα που θα παραδίδονται στον καταναλωτή θα έχουν τη συνήθη διάρκεια βάσει της
    ισχύουσας νομοθεσίας, της συνήθους πρακτικής και των συναλλακτικών ηθών.
    Η Cretan εγγυάται ότι τα προϊόντα που διατίθενται μέσω του ηλεκτρονικού καταστήματος είναι ασφαλή και κατάλληλα προς
    κατανάλωση, έχουν τηρηθεί όλοι οι κανόνες υγιεινής και ασφάλειας σε όλα τα στάδια που βρίσκονται υπό τον έλεγχο της
    Cretan (παραγωγής, αποθήκευσης, μεταφοράς κλπ).
    Η Cretan έχει λάβει αντίστοιχες εγγυήσεις από τους προμηθευτές της, οι οποίοι φέρουν και το βάρος ευθύνης έναντι του
    τελικού καταναλωτή.
    Οι τιμές που παρουσιάζονται στο ηλεκτρονικό κατάστημα είναι οι ίδιες στις οποίες διατίθενται τα αντίστοιχα προϊόντα
    μέσω του δικτύου καταστημάτων της Cretan, τυχόν διαφοροποιήσεις στις τιμές, που μπορεί να παρουσιαστούν κατά τη
    διάρκεια διαφορετικών επισκέψεων στο ηλεκτρονικό κατάστημα αντανακλά την πολιτική τιμών της Cretan, που αποσκοπεί
    στην διαρκή ανταγωνιστικότητα της Cretan. Οι τιμές που αναγράφονται είναι τελικές συμπεριλαμβάνοντας τον αντίστοιχο
    ΦΠΑ, εξαιρουμένου του κόστους μεταφοράς (αν υπάρχει). Η αναγραφή των τιμών γίνεται πάντοτε βάσει των οικείων
    αγορανομικών διατάξεων. Εντός της ίδιας ημέρας ενδέχεται για το ίδιο προϊόν να υπάρξει διαφοροποίηση τιμής βάσει της
    εμπορικής πολιτικής της εταιρείας. <br><br>
    Είδη που διατίθενται σε προνομιακή τιμή για αγορά από το κατάστημα ενδέχεται να μην έχουν την ίδια προνομιακή τιμή
    κατά την αγορά τους από το ηλεκτρονικό κατάστημα και το αντίστροφο. Επιστροφή χρημάτων σχετικά με είδη που
    αγοράστηκαν στα πλαίσια κάποιας προσφοράς, προωθητικού προγράμματος/ ενέργειας ή εκπτωτικής περιόδου, θα βασίζεται
    στην τιμή προσφοράς, προώθησης ή έκπτωσης. Όλες οι προσφορές ισχύουν για προκαθορισμένη χρονική περίοδο υπό την
    προϋπόθεση ότι και το προσφερόμενο είδος είναι διαθέσιμο και εφόσον το απόθεμα επαρκεί.
    Η χρέωση θα γίνεται με βάση τις τιμές που ίσχυαν και ήταν αναρτημένες στο eshop κατά την ημερομηνία και ώρα υποβολής
    της παραγγελίας ακόμα και αν έχουν μεσολαβήσει διακυμάνσεις, καθώς αυτές είναι οι τιμές που έχουν γνωστοποιηθεί προς
    τον πελάτη κατά την υποβολή της παραγγελίας και ο πελάτης έχει αποδεχτεί με την υποβολή της παραγγελίας . Το ίδιο
    ισχύει και για τα φρέσκα προϊόντα. Στα φρέσκα προϊόντα, όπως ενδεικτικά και όχι περιοριστικά κρέας/πουλερικά/
    ψάρια/φρούτα/τυριά λόγω της φύσης τους θα ζυγίζονται κατά την ημέρα εκτέλεσης της παραγγελίας, προκειμένου να
    εξασφαλίσουμε φρεσκάδα και ποιότητα, αλλά θα χρεώνονται με βάση την τιμή μονάδας μέτρησης κατά το χρόνο υποβολής της
    παραγγελίας, κατά τα ανωτέρω αναφερόμενα. Ρητά διευκρινίζεται ότι επί των προϊόντων μπορεί να εμφανίζεται
    διαφορετική τιμή μονάδας μέτρησης και τελική τιμή πώλησης, καθώς από την ημερομηνία υποβολής της παραγγελίας μέχρι
    την ημερομηνία εκτέλεσης αυτής η τιμή των προϊόντων μπορεί να έχει διαφοροποιηθεί βάσει της εμπορικής πολιτικής της
    ΑΒ, η τιμή όμως χρέωσης θα είναι πάντα αυτή που ίσχυε κατά το χρόνο υποβολής της παραγγελίας κατά τα ανωτέρω
    αναφερόμενα και σε καμία περίπτωση η τυχόν διαφορετική ένδειξη τιμής επί του προϊόντος δεν συνιστά διαφορετική τιμή
    προϊόντος και διαφορετική τιμή χρέωσης.
    <br><br>
    <b><u>ΠΑΡΑΔΟΣΗ ΠΡΟΪΟΝΤΩΝ</u></b><br><br>
    Η παράδοση των προϊόντων γίνεται με μέριμνα της Cretan στη διεύθυνση που έχει δηλωθεί από το χρήστη. Δεν υπάρχει
    κάποια επιπλέον χρέωση για την υπηρεσία παράδοσης των προϊόντων. Η Cretan διατηρεί το δικαίωμα να τροποποιήσει
    τον παρόντα όρο και να προβεί στη χρέωση της υπηρεσίας παράδοσης των προϊόντων. Σε αυτή την περίπτωση η χρήση
    της υπηρεσίας μεταφοράς θα γίνεται μετά την ενημέρωση του καταναλωτή για το κόστος αυτής.
    <br><br>
    <b><u>ΠΛΗΡΩΜΗ ΜΕ ΑΝΤΙΚΑΤΑΒΟΛΗ</u></b><br><br>
    Ο χρήστης θα ενημερώνεται για το τελικό ποσό που θα καλείται να καταβάλει αρχικά μέσω τηλεφωνικής επικοινωνίας για
    επιβεβαίωση και εν συνεχεία κατά την παράδοση των προϊόντων στη διεύθυνση που έχει δηλώσει. Σε περίπτωση που το
    αμφισβητεί
    είτε στο σύνολο είτε μερικώς μπορεί να υπαναχωρήσει και να μην αποδεχτεί την παραγγελία στο σύνολο είτε να μην
    δεχτεί συγκεκριμένα προϊόντα.
    Στη δεύτερη αυτή περίπτωση για όσα προϊόντα δεν αποδέχεται κατά το στάδιο της παράδοσης αυτών θα αφαιρείται η αξία
    τους από το σύνολο και θα
    κόβεται και το αντίστοιχο παραστατικό (πιστωτικό).
    Ο χρήστης οφείλει να ενημερώσει την Cretan αν κατά την παράδοση των προϊόντων θα προβεί στην εξόφληση της
    παραγγελίας με χρήση πιστωτικής κάρτας ή με
    καταβολή μετρητών. Διευκρινίζεται ότι δεν απαιτείται η γνωστοποίηση των στοιχείων της κάρτας κατά την παραγγελία
    καθώς η χρέωση της όποιας κάρτας γίνεται
    σε πραγματικό χρόνο κατά την παράδοση και αποδοχή από τον χρήστη της παραγγελίας και της αξίας αυτής όπως θα έχει
    διαμορφωθεί κατά τα ανωτέρω.
    Ο χρήστης κατά την τελική υποβολή της παραγγελίας μπορεί να δηλώνει τον αριθμό των 6€ επιταγών έκπτωσης Cretan Plus
    που έχει στα χέρια του. H αξία των
    δηλωθέντων 6€ επιταγών έκπτωσης θα αφαιρείται τόσο από το συνολικά εκτιμώμενο κόστος, όσο και από το τελικό ποσό
    καταβολής, σε περίπτωση που υπάρχει
    διαφοροποίηση.<br><br>
    Διευκρινίζεται ότι α) για να μπορέσει κάποιος να δηλώσει τις εις χείρας του επιταγές έκπτωσης των 6€ θα πρέπει το
    συνολικό εκτιμώμενο κόστος
    της παραγγελίας να είναι ίσο ή μεγαλύτερο των 40€, β) δεν μπορεί ένας χρήστης να δηλώσει επιταγές έκπτωσης 6€
    συνολικής αξίας μεγαλύτερης της εκτιμώμενης αξίας
    της παραγγελίας του, καθώς δεν μπορεί να γίνει μερική αφαίρεση ποσού από επιταγή έκπτωσης ούτε να εκδοθεί απόδειξη
    με αρνητικό ποσό, γ) κάθε χρήστης αποδέχεται
    ότι σε περίπτωση που το τελικό ποσό καταβολής είναι μικρότερο της αξίας των επιταγών έκπτωσης που έχουν δηλωθεί,
    τότε θα αφαιρούνται τόσες μόνο επιταγές ώστε το
    τελικό ποσό καταβολής να μην είναι αρνητικό.
    Παρομοίως για τις γυάλινες φιάλες θα πρέπει να επιλεχθεί το αντίστοιχο πεδίο που εμφανίζεται κατά την ολοκλήρωση της
    παραγγελίας «Κενές Φιάλες». Μπορείτε να εισάγεται
    μόνο κενές φιάλες των κατηγοριών που εμφανίζονται κατά τη συμπλήρωση του σχετικού πεδίου. Η έκπτωση που αντιστοιχεί
    σε κάθε τύπο φιάλης γνωστοποιείται κατά την υποβολή
    της παραγγελίας, όπως ισχύει κατά το χρόνο υποβολής της παραγγελίας. Η έκπτωση για κάθε φιάλη διαφέρει και μπορεί να
    αναδιαμορφωθεί ανά πάσα στιγμή. Ανάλογα με το πλήθος
    των φιαλών καθώς και το είδος θα αφαιρεθεί και η αντίστοιχη έκπτωση από το συνολικό ποσό της παραγγελίας.
    Κατά την παράδοση της παραγγελίας και την πληρωμή αυτής με κάρτα ή μετρητά μπορείτε να χρησιμοποιήσετε δωροεπιταγές
    και διατακτικές τροφής που εξαργυρώνονται σε ένα φυσικό κατάστημα.
    Για να γίνουν δεκτά θα πρέπει να είναι μικρότερης ή ίσης αξία του τελικού κόστους της παραγγελίας.
    <br><br>
    <b><u>ΠΛΗΡΩΜΗ ΜΕ ΠΙΣΤΩΤΙΚΗ ΚΑΡΤΑ</u></b><br><br>
    Ο χρήστης σε περίπτωση που επιλέξει να προβεί στην εξόφληση της παραγγελίας του μέσω online πληρωμής θα πρέπει να
    συμπληρώσει τα στοιχεία της κάρτας του. Η υπηρεσία πληρωμής με χρήση κάρτας online γίνεται με την υποστήριξη της
    ALPHA BANK.
    Η Cretan έχει λάβει όλα τα απαραίτητα τεχνικά μέσα για τη διασφάλιση της συναλλαγής και σε καμία περίπτωση δεν
    διατηρεί με οποιαδήποτε μορφή στοιχεία της κάρτας. Παρόλα αυτά οι χρήστες θα πρέπει να διασφαλίζουν ότι το
    περιβάλλον από το οποίο
    πραγματοποιούν τη συναλλαγή είναι ασφαλές και ότι δεν υπάρχει κίνδυνος διαρροής των δεδομένων τους. Σε κάθε
    περίπτωση η Cretan δεν φέρει καμία ευθύνη σε περίπτωση που το δίκτυο ή ο υπολογιστής του χρήστη έχει πέσει θύμα
    κακόβουλης ενέργειας
    που μπορεί να οδηγήσει ως και σε υποκλοπή των στοιχείων της κάρτας. Για τη διασφάλιση της συναλλαγής ο χρήστης
    εφόσον συμπληρώσει τα στοιχεία της κάρτας του θα οδηγηθεί σε ένα ασφαλές περιβάλλον στο οποίο τα στοιχεία υπόκεινται
    σε διαδικασία
    κρυπτογράφησης πριν την αποστολή τους για να μην είναι αναγνώσιμα από τρίτους και αποτελεί ένα μηχανισμό ασφάλειας
    ηλεκτρονικών συναλλαγών. Εν συνεχεία θα του ζητηθεί να προσθέσει έναν κωδικό που θα του σταλεί με τη μορφή σύντομου
    μηνύματος
    (SMS) στο κινητό τηλέφωνο που έχει δηλώσει. Ο κωδικός ισχύει για πέντε (5) λεπτά.
    Σε περίπτωση online πληρωμής αρχικά θα δεσμεύεται το εκτιμώμενο ποσό κόστους της παραγγελίας προσαυξημένο κατά 5%
    για την κάλυψη των διαφορών που μπορεί να προκύψουν από τα προϊόντα μεταβλητού βάρους καθώς και από αντικαταστάσεις
    προϊόντων.
    Ο χρήστης θα ενημερώνεται για το τελικό ποσό που θα καλείται να καταβάλει μέσω ηλεκτρονικού μηνύματος στη διεύθυνση
    ηλεκτρονικού ταχυδρομείου που έχει δηλώσει. Σε περίπτωση που το αμφισβητεί είτε στο σύνολο είτε μερικώς μπορεί να
    υπαναχωρήσει
    και να μην αποδεχτεί την παραγγελία στο σύνολο είτε να μην δεχτεί συγκεκριμένα προϊόντα.<br><br>
    Μετά την προσήκουσα ενημέρωση του χρήση, η Cretan θα προβαίνει σε χρέωση του τελικού ποσού και η σχετική αποδέσμευση
    του αρχικά δεσμευμένου ποσού. Ενημερώνουμε
    ότι η εντολή αποδέσμευσης αποστέλλεται άμεσα με την χρέωση στην κάρτα του τελικού ποσού. Η Cretan δεν φέρει καμία
    ευθύνη για την οριστική αποδέσμευση του ποσού και την εμφάνιση αυτού στο λογαριασμό του εκάστοτε πελάτη, καθώς αυτό
    εξαρτάται
    από τις ισχύουσες διαδικασίες της εκάστοτε εκδότριας τράπεζας.
    Σε περίπτωση που το αρχικά δεσμευμένο ποσό δεν επαρκεί για τη κάλυψη του κόστους της παραγγελίας, τότε ο χρήστης
    υποχρεούται, εφόσον δεν έχει υπαναχωρήσει ή αμφισβητήσει τη χρέωση, να καταβάλει το υπερβάλλον ποσό κατά την
    παράδοση της παραγγελίας είτε με
    καταβολή μετρητών είτε με χρήση κάρτας πιστωτικής ή χρεωστικής.
    Σε περίπτωση που ο χρήστης επιθυμεί να μην γίνει online πληρωμή θα πρέπει να ακυρώσει στο σύνολο την παραγγελία του
    και να την υποβάλει εκ νέου. Δεν υπάρχει δυνατότητα τροποποίησης της παραγγελίας παρά μόνο ακύρωσης και υποβολής
    νέας.
    Σε περίπτωση ακύρωσης της παραγγελίας η Cretan εντός τριών (3) εργάσιμων ημερών θα προβαίνει στην αποδέσμευση του
    ποσού. Το ποσό θα είναι διαθέσιμο στο λογαριασμό του χρήστη βάσει των όρων της τράπεζας που έχει εκδώσει την
    εκάστοτε κάρτα.
    Σε περίπτωση μη παραλαβής από τον χρήστη κάποιων προϊόντων είτε γιατί δεν είναι σε κατάσταση που έπρεπε να είναι
    κατά τη συνήθη πρακτική είτε γιατί είναι προϊόν αντικατάστασης, θα γίνεται έκδοση πιστωτικού, και στη συνέχεια η
    Cretan θα προβαίνει
    εντός τριών (3) εργασίμων ημερών στην αποδέσμευση του ποσού από την κάρτα που είχε χρησιμοποιηθεί για την υποβολή
    της παραγγελίας. Ο χρόνος διαθεσιμότητας του ποσού στο λογαριασμό του χρήστη εξαρτάται από την τράπεζα που εξέδωσε
    την εκάστοτε κάρτα.<br><br>
    Διευκρινίζεται ρητά ότι σε καμία περίπτωση δεν μπορεί σε περίπτωση έκδοσης πιστωτικού να γίνει επιστροφή μετρητών.
    Ο χρήστης κατά την τελική υποβολή της παραγγελίας μπορεί να δηλώνει τον αριθμό των 6€ επιταγών έκπτωσης Cretan Plus
    που έχει στα χέρια του. H αξία των δηλωθέντων 6€ επιταγών έκπτωσης θα αφαιρείται τόσο από το συνολικά εκτιμώμενο
    κόστος, όσο και από το τελικό ποσό καταβολής,
    σε περίπτωση που υπάρχει διαφοροποίηση. Διευκρινίζεται ότι α) για να μπορέσει κάποιος να δηλώσει τις εις χείρας του
    επιταγές έκπτωσης των 6€ θα πρέπει το συνολικό εκτιμώμενο κόστος της παραγγελίας να είναι ίσο ή μεγαλύτερο των 40€,
    β) δεν μπορεί ένας χρήστης να δηλώσει
    επιταγές έκπτωσης 6€ συνολικής αξίας μεγαλύτερης της εκτιμώμενης αξίας της παραγγελίας του, καθώς δεν μπορεί να
    γίνει μερική αφαίρεση ποσού από επιταγή έκπτωσης ούτε να εκδοθεί απόδειξη με αρνητικό ποσό, γ) κάθε χρήστης
    αποδέχεται ότι σε περίπτωση που το τελικό ποσό
    καταβολής είναι μικρότερο της αξίας των επιταγών έκπτωσης που έχουν δηλωθεί, τότε θα αφαιρούνται τόσες μόνο επιταγές
    ώστε το τελικό ποσό καταβολής να μην είναι αρνητικό.
    Οι επιταγές έκπτωσης 6€ Cretan PLUS, θα πρέπει να παραδοθούν στον οδηγό κατά την παράδοση. Σε διαφορετική περίπτωση
    θα πρέπει να εξοφληθεί η διαφορά κατά την παράδοση με μετρητά ή κάρτα. Με μετρητά ή κάρτα θα πρέπει να εξοφληθεί και
    οποιαδήποτε άλλη διαφορά προκύψει με βάση το τελικό
    ποσό πληρωμής και τον αριθμό επιταγών έκπτωσης 6€ που έχουν δηλωθεί κατά τα ανωτέρω αναφερόμενα.
    Για τις γυάλινες φιάλες θα πρέπει να επιλεχθεί το αντίστοιχο πεδίο που εμφανίζεται κατά την ολοκλήρωση της
    παραγγελίας «Κενές Φιάλες». Μπορείτε να εισάγεται μόνο κενές φιάλες των κατηγοριών που εμφανίζονται κατά τη
    συμπλήρωση του σχετικού πεδίου. Η έκπτωση που αντιστοιχεί σε κάθε
    τύπο φιάλης γνωστοποιείται κατά την υποβολή της παραγγελίας, όπως ισχύει κατά το χρόνο υποβολής της παραγγελίας. Η
    έκπτωση για κάθε φιάλη διαφέρει και μπορεί να αναδιαμορφωθεί ανά πάσα στιγμή. Ανάλογα με το πλήθος των φιαλών καθώς
    και το είδος θα αφαιρεθεί και η αντίστοιχη έκπτωση από το συνολικό ποσό της παραγγελίας..
    Cretan δωροεπιταγές και διατακτικές τροφής που μπορεί να έχετε εις χείρας σας γίνονται δεκτά εφόσον έχει επιλεγεί
    πληρωμή της παραγγελίας κατά την παράδοση/παραλαβή με κάρτα ή μετρητά. Για να γίνουν δεκτά θα πρέπει να είναι
    μικρότερης ή ίσης αξία του τελικού κόστους της παραγγελίας.
    <br><br>
    <b><u>ΠΑΡΑΔΟΣΗ/ΠΑΡΑΛΑΒΗ ΠΡΟΪΟΝΤΩΝ</u></b><br><br>
    Ο χρήστης / πελάτης οφείλει κατά την παραλαβή της παραγγελίας να ελέγξει την παραδοθείσα σε αυτόν παραγγελία.
    Και κατά την παράδοση της παραγγελίας ο χρήστης έχει το δικαίωμα να υπαναχωρήσει και να μην αποδεχθεί την παραγγελία
    και το κόστος αυτής.
    <br><br>
    <b><u>ΕΠΙΣΤΡΟΦΗ ΠΡΟΪΟΝΤΩΝ</u></b><br><br>
    Σε περίπτωση που διαπιστωθεί οποιαδήποτε αλλοίωση σε κάποιο από τα προϊόντα ο χρήστης / πελάτης μπορεί να καλέσει το
    customer care στο τηλέφωνο 18202 και να ενημερωθεί για τη διαδικασία red bag, που είναι η διαδικασία που έχει
    θεσπίσει η Cretan για τον επισταμένο έλεγχο αλλοιωμένων προϊόντων από αρμόδιους προς τούτο υπαλλήλους.
    Η παραλαβή των αλλοιωμένων προϊόντων μπορεί να γίνει από την Cretan. Ο χρήστης επίσης σε περίπτωση επιστροφής
    αλλοιωμένων προϊόντων μπορεί είτε να ζητήσει την αντικατάσταση αυτών είτε την επιστροφή χρημάτων.
</div>
<br><br>
</div>
<%- include ('../partials/footer.ejs') %>
<%- include ('../partials/rest-body.ejs') %>